@import "vars.css";

pre {
  border-radius: 6px;
}

pre, pre[class*="language-"] {
  padding: 1.575rem;
  white-space: pre-wrap;
  margin: 30px 0;
  color: white;
  background-color: var(--black);

  & .docute-highlight-line {
    background-color: #14161a;
    display: block;
    margin: 0 -1.575rem;
    padding: 0 1.575rem;
  }
}

code {
  font-size: 16px;
  padding: 3px 5px;
  background: rgba(255,229,100,0.2);
  color: #1a1a1a;
  box-shadow: inset 0 0 0 1px #faede5;
  border-radius: 2px;
}

pre > code {
  border-radius: 0;
  box-shadow: none;
  padding: 0;
  font-size: 16px;
  background: transparent;
  color: white;
}

.markdown-body {
  font-size: 17px;

  & a {
    background-color: var(--link-bg);
    border-bottom: 1px solid rgba(0,0,0,0.2);
    color: #1a1a1a;
    text-decoration: none;

    &:hover {
      background-color: var(--link-hover-bg);
      border-bottom-color: #1a1a1a;
    }
  }

  & h1, & h2, & h3, & h4, & h5, & h6 {
    font-weight: bold;
    color: var(--black);

    &:first-child {
      margin-top: 0;
    }

    & a {
      color: var(--black);
      text-decoration: none;
      border-bottom: none;
      background-color: transparent;
      &:hover {
        background-color: transparent;
      }
    }
  }

  & h1 {
    font-size: 2.4rem;
  }

  & h2 {
    font-size: 2.1rem;
    margin-top: 70px;
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--border-color);
  }

  & h3 {
    font-size: 1.5rem;
    margin-top: 50px;
    margin-bottom: 20px;
    position: relative;
    &:before {
      content: '#';
      position: absolute;
      left: 0;
      transform: translateX(-150%);
      color: var(--primary-color);
      font-weight: bold;
    }
  }

  & h4 {
    font-size: 1.3rem;
  }

  & h5 {
    font-size: 1rem;
  }

  & img {
    max-width: 100%;
  }

  & hr {
    border: none;
    height: 1px;
    background-color: #f5f3f7;
    margin: 30px 0;
  }

  & p {
    margin: 0 0 30px 0;
    line-height: 1.7;
  }

  & blockquote {
    background-color: rgba(255,229,100,0.3);
    border-left-color: #ffe564;
    border-left-width: 9px;
    border-left-style: solid;
    padding: 20px;
    margin: 30px 0;

    & p:first-of-type {
      font-weight: 700;
    }

    & >*:last-child {
      margin-bottom: 0;
    }
  }
}
