:root {
  --header-height: 60px;
  --leftbar-width: 16%;
  --rightbar-width: 14%;
  --content-lr-padding: 40px;

  /** colors */
  --primary-color: #663399;
  --border-color: #f5f3f7;
  --header-bg: rgba(255, 255, 255, 0.95);
}
