{
  "presets": [
    ["@babel/preset-env", {
      "modules": false,
      "exclude": ["transform-async-to-generator", "transform-regenerator"]
    }]
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    ["@babel/plugin-proposal-object-rest-spread", {
      "loose": true,
      "useBuiltIns": true
    }],
    ["module:fast-async", {
      "spec":true
    }],
    ["babel-plugin-module-resolver", {
      "root": ".",
      "alias": {
        "@": "./src"
      },
      "extensions": [".js"]
    }]
  ],
  "env": {
    "test": {
      "presets": [
        ["@babel/preset-env", {
          "exclude": ["transform-async-to-generator", "transform-regenerator"]
        }]
      ]
    }
  }
}
