{
  "parserOptions": {
    "parser": "babel-eslint",
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "extends": [
    "xo",
    "rem",
    "plugin:vue/essential",
    "plugin:prettier/recommended"
  ],
  "env": {
    "jest": true,
    "browser": true
  },
  "rules": {
    "camelcase": "off",
    "no-throw-literal": "warn",
    "import/prefer-default-export": "off"
  }
}
