@import "vars.css";

pre, pre[class*="language-"] {
  border-radius: 6px;
  padding: 1.575rem;
  white-space: pre-wrap;
  word-break: break-word;
  margin: 30px 0;
  color: white;
  background-color: var(--black);
  overflow: auto;

  & .docute-highlight-line {
    background-color: #14161a;
    display: block;
    margin: 0 -1.575rem;
    padding: 0 1.575rem;
  }
}

code {
  font-size: 16px;
  padding: 3px 5px;
  background: rgba(255,229,100,0.2);
  color: #1a1a1a;
}

pre > code {
  padding: 0;
  font-size: 16px;
  background: transparent;
  color: white;
}

.markdown-body {
  font-size: 17px;

  & a {
    text-decoration: none;
    color: var(--primary-color);

    &:hover {
      text-decoration: underline;
    }
  }

  & h1, & h2, & h3, & h4, & h5, & h6 {
    font-weight: bold;
    color: var(--black);

    &:first-child {
      margin-top: 0;
    }

    & a {
      color: var(--black);
    }
  }

  & h1 {
    font-size: 2.4rem;
  }

  & h2 {
    font-size: 2.1rem;
    margin-top: 70px;
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--border-color);
  }

  & h3 {
    font-size: 1.5rem;
    margin-top: 50px;
    margin-bottom: 20px;
    position: relative;
    &:before {
      content: '#';
      position: absolute;
      left: 0;
      transform: translateX(-150%);
      color: var(--primary-color);
      font-weight: bold;
    }
  }

  & h4 {
    font-size: 1.3rem;
  }

  & h5 {
    font-size: 1rem;
  }

  & img {
    max-width: 100%;
  }

  & hr {
    border: none;
    height: 1px;
    background-color: #f5f3f7;
    margin: 30px 0;
  }

  & ul, & ol {
    & li {
      margin-bottom: 5px;
    }
  }

  & p {
    margin: 0 0 30px 0;
    line-height: 1.7;
  }

  & blockquote {
    background-color: rgba(255,229,100,0.3);
    border-left-color: #ffe564;
    border-left-width: 9px;
    border-left-style: solid;
    padding: 20px;
    margin: 30px 0;

    & p:first-of-type {
      font-weight: 700;
    }

    & >*:last-child {
      margin-bottom: 0;
    }
  }

  & blockquote p {
    margin: 0;
    &:not(:first-child) {
      margin-top: 15px;
    }
  }

  & .alert p {
    margin: 0;
    padding-left: 30px;
    position: relative;
    &:not(:first-child) {
      margin-top: 15px;
    }
  }

  & .alert {
    background: #f9f9f9;
    border: 1px solid #efefef;
    border-radius: 5px;
    color: #373e42;
    padding: 15px 20px;
    margin: 25px 0;
    & .alert-icon {
      margin-top: 2px;
      position: absolute;
      left: -5px;
      color: #949494;
    }
    &.danger {
      background: rgba(224,76,76,.08);
      border-color: rgba(224,76,76,.3);
      & .alert-icon {
        color: rgba(224,76,76,0.92);
      }
    }
    &.info {
      background: #fafdff;
      border-color: #d9eaf3;
      & .alert-icon {
        color: rgb(116, 196, 239);
      }
    }
    &.warning {
      background: rgba(253,200,69,.1);
      border-color: rgba(253,200,69,.3);
      & .alert-icon {
        color: rgb(245, 190, 88);
      }
    }
    &.success {
      background: #f6fff5;
      border-color: rgba(58,193,51,.12);
      & .alert-icon {
        color: rgba(34, 191, 26, 0.78);
      }
    }
  }
}
