:root {
  --header-height: 60px;
  --leftbar-width: 20%;
  --rightbar-width: 14%;
  --content-lr-padding: 40px;

  /** colors */
  --primary-color: #fb6176;
  --border-color: #f5f3f7;
  --header-bg: #20232a;
  --header-color: white;
  --header-border-color: #20232a;
  --nav-border-color: var(--primary-color);
  --banner-bg: #282c34;
  --banner-color: white;
  --black: #20232a;
  --leftbar-bg: rgb(247, 247, 247);
  --css-helper-tip-border: #3c763d;
  --css-helper-tip-bg: rgba(241, 249, 241, 0.83);
  --css-helper-danger-border: #f66;
  --css-helper-danger-bg: rgba(255, 102, 102, 0.06);
  --css-helper-warning-border: #f7d24c;
  --css-helper-warning-bg: #fefbed;
}
