:root {
  --header-height: 60px;
  --leftbar-width: 20%;
  --rightbar-width: 14%;
  --content-lr-padding: 40px;

  /** colors */
  --primary-color: #fb6176;
  --border-color: #f5f3f7;
  --header-bg: #20232a;
  --header-color: white;
  --header-border-color: #20232a;
  --nav-border-color: var(--primary-color);
  --banner-bg: #282c34;
  --banner-color: white;
  --black: #20232a;
  --leftbar-bg: rgb(247, 247, 247);
}
