* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font: 16px/1.4 -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);

  &.sidebar-open {
    overflow: hidden;
  }
}

.docute-container {
  margin: 0 auto;
  max-width: var(--container-width);
}
