@import "vars.css";

body {
  margin: 0;
  font: 16px/1.7 -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  color: var(--accent-color);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.external-link-icon {
  color: #aaa;
  display: inline-block;
}

.medium-zoom-overlay, .medium-zoom-image--opened {
  z-index: 99;
}

.Wrap {
  max-width: 1060px;
}

.layout-wide .Wrap {
  max-width: 100%;
}

.layout-narrow .Wrap {
  margin: 0 auto;
}

.docute-banner {
  margin-bottom: 10px;

  &>*:first-child {
    margin-top: 0;
  }

  &>*:last-child {
    margin-bottom: 0;
  }
}

.docute-footer {
  padding-top: 60px;
}

.header-anchor {
  float: left;
  line-height: 1;
  margin-left: -20px;
  padding-right: 4px;
  opacity: 0;

  &:hover {
    opacity: 1;
  }

  & .anchor-icon {
    vertical-align: middle;
  }
}

.markdown-header:focus,
.markdown-header:hover {
  outline: none;
  & .header-anchor {
    opacity: 1;
  }
}
