* {
  box-sizing: border-box;
}

html, body, #app, .page {
  height: 100%;
}

body {
  margin: 0;
  font: 14px/1.4 -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  text-rendering: geometricPrecision;
}

/* Maybe? */
/*@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 2dppx) {
  body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }
}*/

a {
  color: #34495e;
  text-decoration: none;
}

.inner-x {
  padding-left: 20px;
  padding-right: 20px;
}

.inner-2x {
  padding-left: 30px;
  padding-right: 30px;
}

.inner-y {
  padding-top: 20px;
  padding-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .inner-x, .inner-2x {
    padding-left: 10px;
    padding-right: 10px;
  }
  .inner-y {
    padding-left: 10px;
    padding-right: 10px;
  }
}

[aria-label] {
  text-rendering: optimizeSpeed;
}

[router-link], [jump-to-id] {
  cursor: pointer;
  color: #4078c0;
  &:hover {
    text-decoration: underline;
  }
}

.link {
  &:hover {
    color: #42b983
  }
}
