.inner-x {
  padding: 0 20px;
}

.inner-2x {
  padding: 0 30px;
}

.inner-y {
  padding: 20px 0;
}

@media screen and (max-width: 768px) {
  .inner-x, .inner-2x {
    padding: 10px;
  }
  .inner-y {
    padding: 10px 0;
  }
}

[aria-label] {
  text-rendering: optimizeSpeed;
}

[router-link], [jump-to-id] {
  cursor: pointer;
  color: #4078c0;
  &:hover {
    text-decoration: underline;
  }
}
