.markdown-body {
  padding: 0 30px;

  h1 {
    border-bottom: none;
  }

  h2 {
    margin-top: 50px;
    margin-bottom: 20px;
  }

  h3 {
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .markdown-heading {
    .anchor {
      float: left;
      padding-right: 5px;
      margin-left: -20px;
      cursor: pointer;
      &:focus {
        outline: none;
      }
      svg {
        width: 15px;
        height: 15px;
        vertical-align: middle;
        visibility: hidden;
      }
      &:hover {
        svg {
          visibility: visible;
        }
      }
    }
    &:hover {
      .anchor {
        svg {
          visibility: visible;
        }
      }
    }
    &:focus {
      color: #42b983;
      outline: none;
    }
  }
  pre {
    position: relative;
    &:after {
      content: attr(data-lang);
      position: absolute;
      top: 0;
      right: 0;
      color: #ccc;
      text-align: right;
      font-size: 0.75em;
      padding: 5px 10px 0;
      line-height: 15px;
      height: 15px;
    }
  }
}

p.warning, p.tip, p.danger {
  padding: 12px 24px 12px 20px;
  margin: 2em 0;
  border-left: 4px solid;
  position: relative;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  &:before {
    content: "!";
    position: absolute;
    top: 14px;
    left: -12px;
    color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
    font-family: 'Dosis', 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  }
  &.no-bg {
    background-color: #f8f8f8;
  }
}

p.warning {
  border-left-color: #f7d24c;
  background-color: #fefbed;
  &:before {
    background-color: #f7d24c;
  }
}

p.danger {
  $red: #f66;
  border-left-color:  $red;
  background-color: rgba(255, 102, 102, 0.06);
  &:before {
    background-color: $red;
  }
}

p.tip {
  $green: #3c763d;
  border-left-color: $green;
  background-color: rgba(241, 249, 241, 0.83);
  &:before {
    background-color: $green;
  }
}

@media screen and (max-width: 768px) {
  .markdown-body {
    padding: 0 10px;
  }
}
