.markdown-body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
  color: #333;
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
  padding: 0 30px;
  .octicon {
    display: inline-block;
    vertical-align: text-top;
    fill: currentColor;
  }
  a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    &:active, &:hover {
      outline-width: 0;
    }
  }
  strong {
    font-weight: inherit;
    font-weight: bolder;
  }
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }
  img {
    border-style: none;
  }
  svg:not(:root) {
    overflow: hidden;
  }
  code, kbd, pre {
    font-family: monospace, monospace;
    font-size: 1em;
  }
  hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
  }
  input {
    font: inherit;
    margin: 0;
    overflow: visible;
  }
  [type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
  }
  * {
    box-sizing: border-box;
  }
  input {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }
  a {
    color: #4078c0;
    text-decoration: none;
    &:hover, &:active {
      text-decoration: underline;
    }
  }
  strong {
    font-weight: 600;
  }
  hr {
    height: 0;
    margin: 15px 0;
    overflow: hidden;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #ddd;
    &::before {
      display: table;
      content: "";
    }
    &::after {
      display: table;
      clear: both;
      content: "";
    }
  }
  table {
    border-spacing: 0;
    border-collapse: collapse;
  }
  td, th {
    padding: 0;
  }
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
  }
  h1 {
    font-size: 32px;
    font-weight: 600;
  }
  h2 {
    font-size: 24px;
    font-weight: 600;
  }
  h3 {
    font-size: 20px;
    font-weight: 600;
  }
  h4 {
    font-size: 16px;
    font-weight: 600;
  }
  h5 {
    font-size: 14px;
    font-weight: 600;
  }
  h6 {
    font-size: 12px;
    font-weight: 600;
  }
  p {
    margin-top: 0;
    margin-bottom: 10px;
    word-spacing: 0.05em;
  }
  blockquote {
    margin: 0;
  }
  ul {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  ol {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    ol {
      list-style-type: lower-roman;
    }
  }
  ul {
    ol {
      list-style-type: lower-roman;
    }
    ul ol, ol ol {
      list-style-type: lower-alpha;
    }
  }
  ol {
    ul ol, ol ol {
      list-style-type: lower-alpha;
    }
  }
  dd {
    margin-left: 0;
  }
  code {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 12px;
  }
  pre {
    margin-top: 0;
    margin-bottom: 0;
    font: 12px Consolas, "Liberation Mono", Menlo, Courier, monospace;
  }
  .octicon {
    vertical-align: text-bottom;
  }
  input {
    -webkit-font-feature-settings: "liga" 0;
    font-feature-settings: "liga" 0;
  }
  &::before {
    display: table;
    content: "";
  }
  &::after {
    display: table;
    clear: both;
    content: "";
  }
  > * {
    &:first-child {
      margin-top: 0 !important;
    }
    &:last-child {
      margin-bottom: 0 !important;
    }
  }
  a:not([href]) {
    color: inherit;
    text-decoration: none;
  }
  p, blockquote, ul, ol, dl, table, pre {
    margin-top: 0;
    margin-bottom: 16px;
  }
  hr {
    height: 0.25em;
    padding: 0;
    margin: 24px 0;
    background-color: #e7e7e7;
    border: 0;
  }
  blockquote {
    padding: 0 1em;
    color: #777;
    border-left: 0.25em solid #ddd;
    > {
      :first-child {
        margin-top: 0;
      }
      :last-child {
        margin-bottom: 0;
      }
    }
  }
  kbd {
    display: inline-block;
    padding: 3px 5px;
    font-size: 11px;
    line-height: 10px;
    color: #555;
    vertical-align: middle;
    background-color: #fcfcfc;
    border: solid 1px #ccc;
    border-bottom-color: #bbb;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #bbb;
  }
  h1, h2, h3, h4, h5, h6 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25;
  }

  h1 {
    padding-bottom: 0.3em;
    font-size: 2em;
    border-bottom: 1px solid #eee;
  }
  h2 {
    padding-bottom: 0.3em;
    font-size: 1.5em;
    border-bottom: 1px solid #eee;
  }
  h3 {
    font-size: 1.25em;
  }
  h4 {
    font-size: 1em;
  }
  h5 {
    font-size: 0.875em;
  }
  h6 {
    font-size: 0.85em;
    color: #777;
  }
  ul, ol {
    padding-left: 2em;
  }
  ul {
    ul, ol {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  ol {
    ol, ul {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  li {
    > p {
      margin-top: 16px;
    }
    + li {
      margin-top: 0.25em;
    }
  }
  dl {
    padding: 0;
    dt {
      padding: 0;
      margin-top: 16px;
      font-size: 1em;
      font-style: italic;
      font-weight: bold;
    }
    dd {
      padding: 0 16px;
      margin-bottom: 16px;
    }
  }
  table {
    display: block;
    width: 100%;
    overflow: auto;
    th {
      font-weight: bold;
      padding: 6px 13px;
      border: 1px solid #ddd;
    }
    td {
      padding: 6px 13px;
      border: 1px solid #ddd;
    }
    tr {
      background-color: #fff;
      border-top: 1px solid #ccc;
      &:nth-child(2n) {
        background-color: #f8f8f8;
      }
    }
  }
  img {
    max-width: 100%;
    box-sizing: content-box;
    background-color: #fff;
  }
  code {
    padding: 0;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 3px;
    &::before, &::after {
      letter-spacing: -0.2em;
      content: "\00a0";
    }
  }
  pre {
    word-wrap: normal;
    > code {
      padding: 0;
      margin: 0;
      font-size: 100%;
      word-break: normal;
      white-space: pre;
      background: transparent;
      border: 0;
    }
  }
  .highlight {
    margin-bottom: 16px;
    pre {
      margin-bottom: 0;
      word-break: normal;
      padding: 16px;
      overflow: auto;
      font-size: 85%;
      line-height: 1.45;
      background-color: #f7f7f7;
      border-radius: 3px;
    }
  }
  pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f7f7f7;
    border-radius: 3px;
    code {
      display: inline;
      max-width: auto;
      padding: 0;
      margin: 0;
      overflow: visible;
      line-height: inherit;
      word-wrap: normal;
      background-color: transparent;
      border: 0;
      &::before, &::after {
        content: normal;
      }
    }
  }
  kbd {
    display: inline-block;
    padding: 3px 5px;
    font: 11px Consolas, "Liberation Mono", Menlo, Courier, monospace;
    line-height: 10px;
    color: #555;
    vertical-align: middle;
    background-color: #fcfcfc;
    border: solid 1px #ccc;
    border-bottom-color: #bbb;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #bbb;
  }
  :checked + .radio-label {
    position: relative;
    z-index: 1;
    border-color: #4078c0;
  }
  .task-list-item {
    list-style-type: none;
    + .task-list-item {
      margin-top: 3px;
    }
    input {
      margin: 0 0.2em 0.25em -1.6em;
      vertical-align: middle;
    }
  }
  hr {
    border-bottom-color: #eee;
  }

  .markdown-heading {
    .anchor {
      float: left;
      padding-right: 5px;
      margin-left: -20px;
      cursor: pointer;
      &:focus {
        outline: none;
      }
      svg {
        width: 15px;
        height: 15px;
        vertical-align: middle;
        visibility: hidden;
      }
      &:hover {
        svg {
          visibility: visible;
        }
      }
    }
    &:hover {
      .anchor {
        svg {
          visibility: visible;
        }
      }
    }
    &:focus {
      color: #42b983;
      outline: none;
    }
  }
  pre {
    position: relative;
    &:after {
      content: attr(data-lang);
      position: absolute;
      top: 0;
      right: 0;
      color: #ccc;
      text-align: right;
      font-size: 0.75em;
      padding: 5px 10px 0;
      line-height: 15px;
      height: 15px;
    }
  }
}

p.warning, p.tip {
  padding: 12px 24px 12px 20px;
  margin: 2em 0;
  border-left: 4px solid;
  background-color: #f8f8f8;
  position: relative;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  &:before {
    content: "!";
    position: absolute;
    top: 14px;
    left: -12px;
    color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
    font-family: 'Dosis', 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  }
}

p.warning {
  $red: #f66;
  border-left-color:  $red;
  &:before {
    background-color: $red;
  }
}

p.tip {
  $green: #3c763d;
  border-left-color: $green;
  &:before {
    background-color: $green;
  }
}

@media screen and (max-width: 768px) {
  .markdown-body {
    padding: 0 10px;
  }
}
